body{
    margin: 0 auto;
    background-color: #dbe29d;
}
/*====== Cabeçalho ======*/
header{
    display: flex;
    justify-content: center;
    background-image: url(Arte/Fundo_logo_montfoster.png);
    border-bottom: 1px solid black;
}
#conteudoHeader {
    display: flex;
    gap: 64px;
    max-height: 224px;
}
#titulo{
    align-content: center;
    justify-content: center;
}
#titulo p {
    margin: 0;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: bold;
}
/*====== Corpo da página ======*/
.container {
    max-width: 1100px;
    margin: 0 auto;
}
/*====== Navbar ======*/
#opcoesNavbar{
    display: flex;
    justify-content: center;
    gap: 68px;
    list-style: none;  
    padding: 0;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    border-bottom: 1px solid #2a2a2a;
}
nav a {
    text-decoration: none;
    color: inherit;
}
nav a:hover{
    color: #405010;
}
/*====== Catálogo ======*/
.produtos ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 64px;
    margin-bottom: 8px;

}
.item { 
    background-color: #a0a840;
    min-width: 224px;
    max-width: 224px;
    border: 1px solid black;
}

.placeholder{
    background-color: #868686;
    height: 132px;
}

.produtos p {
    margin: 0;
}
#catalogo a {
    text-decoration: none;
    color: inherit;
}
#catalogo{
    margin-top: 64px;
}
.produtos h3{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}
.produtos{
    overflow-x: auto;
}
.produtos::-webkit-scrollbar{
    height: 8px;
    border-radius: 12px;
}
.produtos::-webkit-scrollbar-track {
    background: #b3c75b;
}

.produtos::-webkit-scrollbar-thumb {
    background: #3a5e0b;
    border-radius: 8px;
}
footer{
    background-color: rgb(112, 128, 40);
    margin: 0;
    margin-top: 64px;
    height: 274px;
}
footer p{
    margin: 0;
}
#espacoBranco{
    height: 282px;
}
#maisInfo{
    text-align: center;
    font-size: 24px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    align-content: center;
   
}
#maisInfo ul{
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 64px;
}
#maisInfo a {
    text-decoration: none;
    color:inherit;
}
#maisInfo a:hover{
    color:#405010;
}
#social{
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 64px;
}
.socialItem{
    display: flex;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}
